* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 3px;
    font-size: 25px;
}

p {
    font-size: 22px;
}

.hero {
    height: 1308px;
    width: 100%;
    margin-bottom: 42px;
    background-image: url("../Assets/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.header-image{
    object-fit: contain;
    width: 100%;
    height: 800px;

}

.float-left {
    float: left;
    margin-right: 39px;
    text-align: right;
}

.float-right {
    float: right;
    margin-left: 8px;
}

.content {
    width: 73%;
    display: inline-block;
    margin-left: 25px;
    margin-top: 0px;
}

.benefits {
    margin-right: 2%;
    padding: 73px;
    clear: both;
    float: right;
    width: 23%;
    height: 1230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 37px;
    color:white;
}

.benefit-brand {
    margin-bottom: 88px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 29px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 26px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 6px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: -31px auto;
    max-width: 160px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;}

.benefit-cost img {
    display: block;
    margin: -13px auto;
    max-width: 175px;
}

.search-engine-optimization {
    margin-bottom: 25px;
    padding: 37px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 25px;
    padding: 60px;
    height: 392px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 34px;
    padding: 98px;
    height: 360px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 277px;
    margin-left: 36px;
}

.online-reputation-management img {
    max-height: 285px;
}

.social-media-marketing img {
    max-height: 247px;
    margin-top: -40px;
    margin-left: 6px;
}

.search-engine-optimization h2 {
    margin-bottom: 3px;
    font-size: 59px;
}

.online-reputation-management h2 {
    margin-bottom: 14px;
    font-size: 60px;
    text-align: left;
    margin-left: -7px;
}

.social-media-marketing h2 {
    margin-bottom: 8px;
    font-size: 60px;
    margin-top: -55px;
    text-align: left;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;}