* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 22px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.header-image{
    object-fit: contain;
    width: 100%;
    height: 800px;

}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 8px;
}

.content {
    width: 72%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 2%;
    padding: 62px;
    clear: both;
    float: right;
    width: 23%;
    height: 1230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 37px;
    color:white;
}

.benefit-brand {
    margin-bottom: 88px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 29px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 26px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 6px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: -31px auto;
    max-width: 160px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;}

.benefit-cost img {
    display: block;
    margin: -13px auto;
    max-width: 175px;
}

.search-engine-optimization {
    margin-bottom: 13px;
    padding: 49px;
    height: 366px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 25px;
    padding: 60px;
    height: 392px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 31px;
    padding: 86px;
    height: 340px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 277px;
}

.online-reputation-management img {
    max-height: 285px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 3px;
    font-size: 59px;
}

.online-reputation-management h2 {
    margin-bottom: 14px;
    font-size: 41px;
}

.social-media-marketing h2 {
    margin-bottom: 2px;
    font-size: 48px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/*Media screen used to adjust boxes so that they fit the wrapped flexboxes as they stretch*/

@media screen and (max-width: 992px) {
    /*Sets the header to a different height so it can hold the div ul elements as they display vertically*/
    .header {
        height: 170px;
    }
    /*Aligns text to the right so they don't interfere with the title and has them stack vertically as the flex*/
    .header div ul {
        text-align: right;
        flex-direction: column;
    }
    /*Set all the content class divs to a height of 550px so they can hold all the flexboxed content*/
    .search-engine-optimization {
        height: 550px;
    }
    .online-reputation-management {
        height: 550px;
    }
    .social-media-marketing {
        height: 550px;
    }
    /*Set all the titles of the benefit class to a smaller font size so they can appear in full on smaller screens*/
    .benefit-lead h3 {
        font-size: 12px;
    }
    .benefit-brand h3 {
        font-size: 12px;
    }
    .benefit-cost h3 {
        font-size: 12px;
    }
}

/*Another media screen used to hide the images on the side bar when the screen size becomes much smaller*/

@media screen and (max-width: 768px) {
    .benefit-lead img {
        display: none;
    }
    .benefit-brand img {
        display: none;
    }
    .benefit-cost img {
        display: none;
    }
}